.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: space-between;
  justify-items: center;
  overflow: hidden;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 862px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 801px) {
  .root > * {
    grid-column: 4;
  }
}
.dummyWpContainer:global(.__wab_instance) {
  position: relative;
}
.policiesComponent:global(.__wab_instance) {
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
@media (max-width: 375px) {
  .policiesComponent:global(.__wab_instance) {
    display: none;
  }
}
.text {
  height: auto;
  max-width: 100%;
  font-size: 21px;
  font-family: "Courier Prime";
  font-weight: 400;
  font-style: normal;
  color: var(--token-IIHSJDM_k673);
  text-align: left;
  text-transform: none;
  line-height: 1.3;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  opacity: 0.75;
  width: 800px;
  padding-left: 0px;
}
.ul__v0ZD1 {
  display: flex;
  flex-direction: column;
}
.ul__x58W {
  display: flex;
  flex-direction: column;
}
.ul__hrHO {
  display: flex;
  flex-direction: column;
}
.ul__weQh {
  display: flex;
  flex-direction: column;
}
.ul__h5BSq {
  display: flex;
  flex-direction: column;
}
.ul__fL9G4 {
  display: flex;
  flex-direction: column;
}
.ul__yapvf {
  display: flex;
  flex-direction: column;
}
.ul___88R4 {
  display: flex;
  flex-direction: column;
}
.ul__ztlTj {
  display: flex;
  flex-direction: column;
}
.ul__oCkN {
  display: flex;
  flex-direction: column;
}
.ul__auvNl {
  display: flex;
  flex-direction: column;
}
.ul__ySoo0 {
  display: flex;
  flex-direction: column;
}
.ul__xM8Tp {
  display: flex;
  flex-direction: column;
}
.ul__lxQlk {
  display: flex;
  flex-direction: column;
}
.ul__x1Sih {
  display: flex;
  flex-direction: column;
}
.ul__nGpg6 {
  display: flex;
  flex-direction: column;
}
.ul__fShF7 {
  display: flex;
  flex-direction: column;
}
.ul__fJXr {
  display: flex;
  flex-direction: column;
}
.ul__urnX4 {
  display: flex;
  flex-direction: column;
}
.ul__gsNrM {
  display: flex;
  flex-direction: column;
}
.ul__fdGxS {
  display: flex;
  flex-direction: column;
}
.ul__pgE5B {
  display: flex;
  flex-direction: column;
}
.ul__rj7IM {
  display: flex;
  flex-direction: column;
}
.ul__raUf {
  display: flex;
  flex-direction: column;
}
.ul__wmVen {
  display: flex;
  flex-direction: column;
}
.ul__kQtNj {
  display: flex;
  flex-direction: column;
}
.ul__atiul {
  display: flex;
  flex-direction: column;
}
.ul__cn04Y {
  display: flex;
  flex-direction: column;
}
.ul__mEGi {
  display: flex;
  flex-direction: column;
}
.ul___5AUm7 {
  display: flex;
  flex-direction: column;
}
.ul__ktjKr {
  display: flex;
  flex-direction: column;
}
.ul__bgkzF {
  display: flex;
  flex-direction: column;
}
.ul__pSEca {
  display: flex;
  flex-direction: column;
}
.ul___6CdVi {
  display: flex;
  flex-direction: column;
}
.ul__fPzLl {
  display: flex;
  flex-direction: column;
}
.ul__nGCcL {
  display: flex;
  flex-direction: column;
}
.ul___2Zvii {
  display: flex;
  flex-direction: column;
}
.dummyWpFooter:global(.__wab_instance) {
  position: relative;
}
@media (max-width: 375px) {
  .dummyWpFooter:global(.__wab_instance) {
    display: none;
  }
}
