.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: space-between;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 1497px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 1366px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 1260px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 1245px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 1145px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 1024px) {
  .root {
    align-content: space-between;
  }
}
@media (max-width: 1024px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 902px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 862px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 720px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 680px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 375px) {
  .root > * {
    grid-column: 4;
  }
}
.rootprocessingVarient > * {
  grid-column: 4;
}
.rootsetupVarient > * {
  grid-column: 4;
}
@media (max-width: 680px) {
  .rootsetupVarient > * {
    grid-column: 4;
  }
}
.additionalSeoData:global(.__wab_instance):global(.__wab_instance) {
  display: none;
}
.dummyWpContainer:global(.__wab_instance) {
  position: relative;
}
.contents {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 100%;
  background: none;
  flex-direction: column;
  justify-content: flex-end;
  transform: none;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
@media (max-width: 375px) {
  .contents {
    display: none;
  }
}
.grid {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  left: auto;
  top: auto;
  height: auto;
  min-width: 0;
}
@media (max-width: 902px) {
  .grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.freeBox__yMfOv {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 100px;
  height: auto;
  z-index: 2;
  padding-bottom: 100px;
  margin-bottom: 100px;
  min-height: 480px;
  max-height: 480px;
  min-width: 0;
}
@media (max-width: 902px) {
  .freeBox__yMfOv {
    min-height: none;
    max-height: none;
    padding: 60px 40px;
    margin: 0px;
  }
}
.star1 {
  object-fit: cover;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 50px;
  height: 50px;
  color: var(--token-OHS4W3jM4QS0);
  z-index: 1;
  transform: none;
  margin-top: -12%;
  margin-left: 71%;
  flex-shrink: 0;
}
@media (max-width: 902px) {
  .star1 {
    display: none;
  }
}
.star2 {
  object-fit: cover;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 50px;
  height: 50px;
  color: #ff00c4;
  z-index: 1;
  transform: none;
  margin-left: 102%;
  margin-top: -4%;
  flex-shrink: 0;
}
@media (max-width: 902px) {
  .star2 {
    display: none;
  }
}
.star3 {
  object-fit: cover;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 50px;
  height: 50px;
  color: #8800ff;
  z-index: 1;
  transform: none;
  margin-left: 88%;
  margin-top: 14%;
  flex-shrink: 0;
}
@media (max-width: 902px) {
  .star3 {
    display: none;
  }
}
.text__cMz6Q {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-IIHSJDM_k673);
  font-family: "Courier Prime";
  font-size: 60px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 16px;
  user-select: text;
  white-space: pre-wrap;
  z-index: 1;
  min-width: 0;
}
@media (max-width: 1497px) {
  .text__cMz6Q {
    white-space: pre;
  }
}
@media (max-width: 1366px) {
  .text__cMz6Q {
    white-space: pre-wrap;
  }
}
@media (max-width: 1245px) {
  .text__cMz6Q {
    white-space: pre;
  }
}
@media (max-width: 1024px) {
  .text__cMz6Q {
    font-size: 40px;
    white-space: pre-wrap;
  }
}
@media (max-width: 902px) {
  .text__cMz6Q {
    font-size: 42px;
  }
}
.img__olBym {
  object-fit: cover;
  width: 250px;
  height: auto;
  margin-bottom: 40px;
}
.img__olBym > picture > img {
  object-fit: cover;
}
.text__lYd9T {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-ONhVHEytJrHV);
  font-family: "Courier Prime";
  font-size: 24px;
  margin-bottom: 60px;
  line-height: 1.1;
  min-width: 0;
}
@media (max-width: 1024px) {
  .text__lYd9T {
    font-size: 20px;
  }
}
@media (max-width: 902px) {
  .text__lYd9T {
    font-size: 24px;
  }
}
.createSiteButton4 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: 68px;
  padding-left: 28px;
  padding-right: 28px;
  background: var(--token-IIHSJDM_k673);
  box-shadow: 5px 5px 0px 0px var(--token-OHS4W3jM4QS0);
  max-width: 100%;
  flex-shrink: 0;
  border-radius: 2px;
}
.createSiteButton4 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.createSiteButton4 > :global(.__wab_flex-container) > *,
.createSiteButton4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.createSiteButton4 > :global(.__wab_flex-container) > picture > img,
.createSiteButton4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.text__thtcj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-OHS4W3jM4QS0);
  font-family: "Courier Prime";
  font-size: 28px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-weight: 700;
  cursor: pointer;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  user-select: none;
  min-width: 0;
}
@media (max-width: 1024px) {
  .text__thtcj {
    font-size: 24px;
  }
}
@media (max-width: 902px) {
  .text__thtcj {
    font-size: 28px;
  }
}
.freeBox__uEdFn {
  display: block;
  position: relative;
  width: 0px;
  height: 36px;
  opacity: 0.6;
  flex-shrink: 0;
  border: 2px solid var(--token-OHS4W3jM4QS0);
}
.svg__cfd4L {
  object-fit: cover;
  width: 22px;
  height: 22px;
  color: var(--token-OHS4W3jM4QS0);
  cursor: pointer;
  flex-shrink: 0;
}
.freeBox__vlYvQ {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-end;
  align-items: flex-end;
  width: auto;
  left: auto;
  top: auto;
  z-index: 1;
  height: 80vh;
}
@media (max-width: 902px) {
  .freeBox__vlYvQ {
    left: auto;
    top: 0;
    position: fixed;
    right: 0;
    bottom: auto;
    opacity: 0.8;
  }
}
.img__p8AFz {
  object-fit: cover;
  left: 0px;
  top: 0px;
  z-index: 1;
  position: sticky;
  width: 100%;
  height: auto;
}
.img__p8AFz > picture > img {
  object-fit: cover;
}
@media (max-width: 902px) {
  .img__p8AFz {
    object-fit: contain;
    transform: translateX(240px) translateY(-20px) translateZ(0px);
    width: 735px;
    height: 100%;
  }
}
@media (max-width: 902px) {
  .img__p8AFz > picture > img {
    object-fit: contain;
  }
}
@media (max-width: 480px) {
  .img__p8AFz {
    transform: translateX(340px) translateY(-20px) translateZ(0px);
  }
}
.dummyWpFooter:global(.__wab_instance) {
  position: absolute;
  left: 0;
  top: auto;
  right: 0;
  bottom: 0;
  z-index: 1;
}
@media (max-width: 902px) {
  .dummyWpFooter:global(.__wab_instance) {
    position: relative;
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
  }
}
@media (max-width: 375px) {
  .dummyWpFooter:global(.__wab_instance) {
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
    display: none;
  }
}
.processingContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  max-width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  left: auto;
  top: 0px;
  transition-property: all;
  transition-duration: 0.5s;
  z-index: 50;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  display: none;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.processingContainerprocessingVarient {
  display: flex;
}
.processingContainersetupVarient {
  display: none;
}
.processing {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  backdrop-filter: blur(30px);
  background: #fc573b80;
  min-width: 0;
  min-height: 0;
  -webkit-backdrop-filter: blur(30px);
}
.lottie:global(.__wab_instance) {
  object-fit: cover;
  width: 352px;
}
.text__jGmKi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Courier Prime";
  font-size: 28px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  min-width: 0;
}
.envitiomentSetupContainer {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  max-width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  left: auto;
  top: 0px;
  z-index: 0;
  opacity: 0;
  transition-property: all;
  transition-duration: 50ms;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 50ms;
}
@media (max-width: 680px) {
  .envitiomentSetupContainer {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: auto;
  }
}
.envitiomentSetupContainerprocessingVarient {
  display: none;
}
.envitiomentSetupContainersetupVarient {
  opacity: 1;
  z-index: 50;
}
.setupFormWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  backdrop-filter: blur(30px);
  background: #fc573b80;
  min-width: 0;
  min-height: 0;
  -webkit-backdrop-filter: blur(30px);
}
.freeBox___1Pdfz {
  display: block;
  position: absolute;
  width: auto;
  height: 100%;
  max-width: 100%;
  left: 0;
  top: 0;
  right: 0;
  z-index: 0;
  min-height: 0;
}
.form {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 800px;
  height: auto;
  max-width: 100%;
  box-shadow: 0px 3px 20px 0px #fc573b;
  background: #ffffff;
  z-index: 1;
  border-radius: 2px;
  padding: 60px;
}
@media (max-width: 862px) {
  .form {
    width: 90%;
    padding: 40px;
  }
}
.titleWrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.titleWrapper > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.titleWrapper > :global(.__wab_flex-container) > *,
.titleWrapper > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.titleWrapper > :global(.__wab_flex-container) > picture > img,
.titleWrapper
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.text___8UV74 {
  font-family: "Courier Prime";
  font-size: 28px;
  font-weight: 700;
  font-style: normal;
  color: #1d1d28;
  text-align: left;
  text-transform: none;
  line-height: 1;
  letter-spacing: -1px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.svg__fOthh {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-OHS4W3jM4QS0);
  height: 1em;
}
.dropdownWrapper {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 40px;
  flex-direction: row;
  margin-top: 40px;
  min-width: 0;
  border-bottom: 1px solid #fef5f4;
}
.dropdownWrapper > :global(.__wab_flex-container) {
  align-items: stretch;
  justify-content: space-between;
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 40px);
  width: calc(100% + 40px);
}
.dropdownWrapper > :global(.__wab_flex-container) > *,
.dropdownWrapper > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.dropdownWrapper > :global(.__wab_flex-container) > picture > img,
.dropdownWrapper
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 40px;
}
@media (max-width: 862px) {
  .dropdownWrapper {
    display: flex;
  }
}
@media (max-width: 720px) {
  .dropdownWrapper {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 720px) {
  .dropdownWrapper > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (max-width: 720px) {
  .dropdownWrapper > :global(.__wab_flex-container) > *,
  .dropdownWrapper > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .dropdownWrapper > :global(.__wab_flex-container) > picture > img,
  .dropdownWrapper
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.customSelector__bE9X:global(.__wab_instance) {
  position: relative;
}
@media (max-width: 720px) {
  .customSelector__bE9X:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.svg___8Hd4E {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-OHS4W3jM4QS0);
  width: 24px;
  height: 24px;
}
.svg__eFYj {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-OHS4W3jM4QS0);
  width: 24px;
  height: 24px;
}
.customSelector___8Qhp0:global(.__wab_instance) {
  position: relative;
}
@media (max-width: 720px) {
  .customSelector___8Qhp0:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.svg__rt7Qz {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-OHS4W3jM4QS0);
  height: 18px;
  width: 36px;
}
.svg__qwQwv {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-OHS4W3jM4QS0);
  height: 18px;
  width: 36px;
}
.checkboxWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 40px;
  min-width: 0;
}
.checkboxWrapper > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.checkboxWrapper > :global(.__wab_flex-container) > *,
.checkboxWrapper > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.checkboxWrapper > :global(.__wab_flex-container) > picture > img,
.checkboxWrapper
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.enableWpDebug:global(.__wab_instance) {
  max-width: 100%;
}
.showWpDebug:global(.__wab_instance) {
  max-width: 100%;
}
.enableScriptDebug:global(.__wab_instance) {
  max-width: 100%;
}
.disableScriptDebug:global(.__wab_instance) {
  max-width: 100%;
}
.disablePostDebug:global(.__wab_instance) {
  max-width: 100%;
}
.createSiteButton2 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: 68px;
  max-width: 100%;
  padding-left: 28px;
  padding-right: 28px;
  background: var(--token-IIHSJDM_k673);
  margin-top: 32px;
  box-shadow: 5px 5px 0px 0px var(--token-OHS4W3jM4QS0);
  flex-shrink: 0;
  border-radius: 2px;
}
.createSiteButton2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.createSiteButton2 > :global(.__wab_flex-container) > *,
.createSiteButton2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.createSiteButton2 > :global(.__wab_flex-container) > picture > img,
.createSiteButton2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.text__dUbst {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-OHS4W3jM4QS0);
  font-family: "Courier Prime";
  font-size: 28px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-weight: 700;
  cursor: pointer;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  user-select: none;
  min-width: 0;
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: none;
}
