.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: space-between;
  justify-items: center;
  overflow: hidden;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 902px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 862px) {
  .root > * {
    grid-column: 4;
  }
}
.additionalSeoData:global(.__wab_instance):global(.__wab_instance) {
  display: none;
}
.dummyWpContainer:global(.__wab_instance) {
  position: relative;
}
.section {
  display: grid;
  position: relative;
  align-content: center;
  justify-items: center;
  width: 100%;
  padding-left: 80px;
  padding-right: 80px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section > * {
  grid-column: 4;
}
@media (max-width: 902px) {
  .section {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (max-width: 902px) {
  .section > * {
    grid-column: 4;
  }
}
.contents {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
.contents > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.contents > :global(.__wab_flex-container) > *,
.contents > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.contents > :global(.__wab_flex-container) > picture > img,
.contents
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (max-width: 902px) {
  .contents {
    padding: 70px 40px;
  }
}
@media (max-width: 862px) {
  .contents {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.contentHeader {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.contentHeader > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.contentHeader > :global(.__wab_flex-container) > *,
.contentHeader > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.contentHeader > :global(.__wab_flex-container) > picture > img,
.contentHeader
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.headingSvg {
  object-fit: cover;
  max-width: 100%;
  transform: none;
  height: 317px;
  position: relative;
  left: auto;
  top: auto;
  width: 30px;
  margin-right: 16px;
  flex-shrink: 0;
}
.headingSvg > picture > img {
  object-fit: cover;
}
@media (max-width: 862px) {
  .headingSvg {
    display: none !important;
  }
}
.content {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.content > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.content > :global(.__wab_flex-container) > *,
.content > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content > :global(.__wab_flex-container) > picture > img,
.content
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.text__gjUb7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-OHS4W3jM4QS0);
  font-family: "Courier Prime";
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -1px;
  text-transform: uppercase;
  min-width: 0;
  display: none;
}
@media (max-width: 862px) {
  .text__gjUb7 {
    display: block;
  }
}
.text__hvyG8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-ONhVHEytJrHV);
  font-family: "Courier Prime";
  font-size: 34px;
  line-height: 40px;
  padding-right: 100px;
  min-width: 0;
}
@media (max-width: 1260px) {
  .text__hvyG8 {
    padding-right: 0px;
  }
}
.freeBox {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  background: var(--token-f7hFq13z6dM9);
  flex-wrap: wrap;
  min-width: 0;
  border-radius: 4px;
  padding: 20px 40px;
}
.text4 {
  width: 100%;
  max-width: 100%;
  font-family: "Courier Prime";
  font-size: 28px;
  letter-spacing: 0px;
  color: var(--token-ONhVHEytJrHV);
  background: none;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  line-height: 34px;
  min-width: 0;
}
.link__bdM4W {
  text-decoration-line: underline;
  font-style: italic;
  font-family: "Courier Prime";
  color: var(--token-ONhVHEytJrHV);
  transition-property: all;
  transition-duration: 0.3s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
}
.root .link__bdM4W:hover {
  color: var(--token-OHS4W3jM4QS0);
}
.link__u9Zbl {
  text-decoration-line: underline;
  font-style: italic;
  font-family: "Courier Prime";
  color: var(--token-ONhVHEytJrHV);
  transition-property: all;
  transition-duration: 0.3s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
}
.root .link__u9Zbl:hover {
  color: var(--token-OHS4W3jM4QS0);
}
.contentFooter {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__btXyI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 38px;
  font-family: "Courier Prime";
  font-weight: 700;
  text-transform: uppercase;
  color: var(--token-ONhVHEytJrHV);
  padding-left: 45px;
  min-width: 0;
}
@media (max-width: 862px) {
  .text__btXyI {
    padding: 0px;
  }
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  left: auto;
  top: auto;
  display: none;
}
.dummyWpFooter:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
}
@media (max-width: 375px) {
  .dummyWpFooter:global(.__wab_instance) {
    display: none;
  }
}
